@charset "utf-8";

/* common */

:root {
  --brand-color: #38aa73;
  /* color: var(--brand-color); */
}

body,
p,
h1,
h2 {
  margin: 0;
  letter-spacing: 1px;
  font-weight: lighter;
}

p {
  font-size: 14px;
  line-height: 2;
}

img {
  vertical-align: bottom;
}

.h2-container {
  text-align: center;
}

h2 {
  position: relative;
  display: inline-block;
}

h2::before {
  content: "";
  background: var(--brand-color);
  width: 5px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  left: -16px;
}

.h2-sub {
  font-size: 10px;
  margin-top: 8px;
}

.top {
  position:fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
}

.top a {
  text-decoration: none;
  color: var(--brand-color);
}

@keyframes showImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* header */

header {
  padding: 16px 80px 0;
  animation: showImage 3000ms forwards;
  animation-delay: 1000ms;
  opacity: 0;
}

/* address */

header address {
  display:flex;
  flex-direction: row;
  text-align: end;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

address > p {
  font-size: 14px;
  padding: 0 16px;
  transition: color 300ms;
}

address > p:hover {
  color: var(--brand-color);
}

address a {
  transition: opacity .3;
}

address a:hover {
  opacity: .7;
}

/* logo */

h1 > p {
  font-size: 12px;
  font-weight: lighter;
  width: 80px;
}

/* nav */

#nav {
  display:flex;
  flex-direction:row;
  list-style: none;
  gap: 64px;
  justify-content: flex-end;
  font-weight: 600;
}

#nav a {
  text-decoration: none;
  color: inherit;
  position:relative;
  transition: color 300ms;
}

#nav a:hover {
  color: var(--brand-color);
}

#nav a::before {
  content: "";
  background: var(--brand-color);
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: -5px;
  left: -12px;
}

/* main-visual */

#main-visual {
  display:flex;
  justify-content: flex-end;
  margin-top: 48px;
}

#main-visual .pic {
  width: 80%;
  height: auto;
  animation: showImage 3000ms forwards;
  animation-delay: 1000ms;
  opacity: 0;
}

#main-visual img {
  width: 100%;
  height: auto;
  object-fit: cover;
  }

/* main-visual-text */

#main-visual .title {
  font-size: 8px;
}

#main-visual .main {
  font-size: 38px;
  font-weight: lighter;
  margin-top: 24px;
  line-height: 1.7;
}

#main-visual .sub {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 64px;
  width: 58%;
  line-height: 2;
}

#main-visual {
  position: relative;
}

#main-visual .text {
  position: absolute;
  top: 20%;
  left: 10%;
  text-shadow: 1px 1px 1px white;
  animation: showImage 3000ms forwards;
  animation-delay: 2000ms;
  opacity: 0;
}

#main-visual .text::after {
  content: "";
  width: 24px;
  height: 1px;
  background: black;
  position: absolute;
  bottom: -64px;
}

/* squirrel */

#squirrel {
  width: calc(100% - 128px);
  margin: 128px auto 0;
}

#squirrel ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 64px;
}

#squirrel img {
  width: 100%;
  height: auto;
}

/* feature */

#feature {
  margin-top: 128px;
}

#feature .content {
  width: 50%;
  margin: 64px auto 0;
}

#feature .mes {
  font-size: 32px;
  line-height: 1.7;
}

#feature .desc-01 {
  margin-top: 40px;
}

#feature .desc-02 {
  margin-top: 32px;
} 
#feature .desc-03 {
  margin-top: 32px;
} 

/* feature flex */

#feature .flex-container {
  display: flex;
  margin-top:64px;
  gap: 128px;
  flex-direction: column;
}

#feature .flex-container :nth-child(even) {
  flex-direction: row-reverse;
}

#feature .flexitem {
  display: flex;
  /* opacity: 0; */
  /* animation: showImage 3000ms forwards; */
}

#feature .image {
  width: 51%;
  height: auto;
}

#feature img {
  width: 100%;
  height: auto;
}

#feature .flex-text {
  width: 49%;
  padding: 0 32px;
  margin: 0 auto;
  box-sizing: border-box;
}

#feature .fea-nav {
  color: var(--brand-color);
  font-size: 10px;
  margin-top: 16px;
}

#feature .fea-title {
  font-size: 32px;
}

#feature .fea-content {
  margin-top: 16px;
}

/* spec */

#spec {
  margin-top: 128px;
}

#spec .container0 {
  width: 50%;
  margin: 0 auto;
}

#spec .container {
  display: flex;
  gap: 80px;
  border-bottom: 1px solid #eee;
  padding: 32px 0;
}

#spec .title {
  margin-left: 32px;
}

#spec .site-link {
  margin-top: 32px;
  font-size: 12px;
}

#spec .image {
  width: 50%;
  margin: 80px auto;
}

#spec img {
  width: 100%;
  height: auto;
}

/* access */

#access {
  width: 70%;
  margin: 0 auto;

}

#access .title {
  margin-top: 32px;
}

/* footer */

footer {
  width: 90%;
  margin: 128px auto 0;
  padding: 48px 0;
  border-top: 1px solid #eee;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .copy {
  text-align: center;
  margin-top: 32px;
}

footer small {
  font-size: 8px;
}