@charset "utf-8";

/* common */

:root {
  --brand-color01: #84633d;
  --brand-color02: #d9c7b3;
}

@keyframes shine {

  0% {
    left: -75%;
  }

  34% {
    left: -75%;
  }

  40% {
    left: 125%;
  }

  100% {
    left: 125%;
  }
}

/* header */

.header-inner {
  position: relative;
}

@keyframes plusMove {

  0% {
    bottom: -8px;
  }

  60% {
    bottom: -60px;
  }

  100% {
    bottom: -60px;
  }

}

/* main-visual */

.main-visual .main-visual-img {
  padding: 80px 80px 0;
  position: relative;
}

.main-visual .main-visual-img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-bottom: 10px solid var(--brand-color02);
}

.main-visual .main-copy {
  position: absolute;
  bottom: -110px;
  right: 12%;
  background: var(--brand-color02);
  overflow: hidden;
}

.main-visual .main-copy::before {
  content: "";
  position: absolute;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(-25deg);
  animation: shine 6s infinite;
}

.main-copy img {
  vertical-align: bottom;
  opacity: .5;
}

/* header-logo */

h1 {
  box-sizing: border-box;
  width: 260px;
  height: 380px;
  background: white;
  padding: 80px 0 0 110px;
  position: absolute;
  top: 0;
  left: 0;
}

h1 a {
  transition: opacity 500ms;
}

h1 a:hover {
  opacity: .7;
}

h1 img {
  vertical-align: bottom;
}

/* header-tel */

.header-tel {
  position: absolute;
  top: 0;
  right: 80px;
}

.header-tel p {
  font-size: 20px;
  line-height: 80px;
  padding-right: 40px;
}

.header-tel span {
  font-size: 18px;
}

/* header-sub-nav */

.header-sub-nav {
  position: absolute;
  top: 0;
  right: 0;
}

.header-sub-nav .header-sub-nav-img {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-sub-nav .header-sub-nav-img01 {
  background: var(--brand-color01);
}

.header-sub-nav .header-sub-nav-img02 {
  background: var(--brand-color02);
}

.header-address {
  writing-mode: vertical-lr;
  width: 80px;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 3px;
  padding-top: 50px;
}

/* scroll-icon */

.scroll-icon-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  display: flex;
  justify-content: center;
}

.scroll-icon {
  writing-mode: vertical-lr;
  font-size: 12px;
  position: relative;
}

.scroll-icon::before {
  content: "";
  width: 9px;
  height: 1px;
  background: black;
  position: absolute;
  left: 2px;
  bottom: -10px;
  animation: plusMove 2500ms infinite;
}

.scroll-icon::after {
  content: "";
  background: black;
  width: 1px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: -64px;
}

/* nav */

nav {
  margin-top: 40px;
}

nav ul {
  writing-mode: vertical-lr;
  margin-left: 9.5%;
}

nav li {
  margin-right: 36%;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 300ms;
  font-size: 14px;
  letter-spacing: 2px;
}

nav a:hover {
  color: var(--brand-color02);
}

/* news-sec */

.news-sec {
  height: 300px;
  background: #f7f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.news-sec-inner {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
  /* display: flex; */
  position: relative;
}

.news-sec-inner>.sec-ttl {
  height: 100%;
  padding-top: 80px;
}

.sec-ttl .eng {
  font-size: 12px;
}

.sec-ttl .jpn {
  font-size: 26px;
  margin-top: 32px;
  letter-spacing: 4px;
  position: relative;
}

.sec-ttl .jpn::before {
  content: "";
  width: 9px;
  height: 1px;
  background: black;
  position: absolute;
  left: 4px;
  bottom: -32px;
}

.sec-ttl .jpn::after {
  content: "";
  width: 1px;
  height: 9px;
  background: black;
  position: absolute;
  left: 8px;
  bottom: -36px;
}

.news-list {
  display: flex;
  flex-direction: column;
}

.news-list li {
  display: flex;
  border-bottom: 1px solid white;
  gap: 20px;
  padding: 20px 0;
}

.news-sec-inner a {
  text-decoration: none;
  color: inherit;
}

/* link-box */

.link-box {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  padding: 30px 0 0 24px;
  font-size: 12px;
  line-height: 1.6;
  position: absolute;
  bottom: -60px;
  right: 5%;
}

.link-box::after {
  content: "";
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 12px;
  left: 24px;
  transition: left 300ms;
}

.link-box:hover::after {
  left: 54px;
}

/* banner */

#banner {
  margin: 80px 0;
  text-align: center;
}

/* manu-sec */

.menu-sec {
  margin: 80px 6% 0;
  display: flex;
  gap: 1.7%;
}

.menu-sec-btn {
  width: 32.2%;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  background: var(--brand-color02);
}

.menu-sec-btn::after {
  content: "";
  background: black;
  width: 24px;
  height: 2px;
  position: absolute;
  bottom: 5%;
  right: 20%;
  transition: right 300ms;
}

.menu-sec-btn:hover::after {
  right: 10%;
}

.menu-sec-btn:hover .menu-sec-btn-image {
  opacity: .3;
}

.menu-sec-btn-image {
  opacity: .5;
  transition: opacity 300ms;
}

.menu-sec-btn-image img {
  width: 100%;
  height: auto;
}

.menu-sec-btn-text {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: black 1px 1px;
  letter-spacing: 2px;
  text-align: center;
}

.menu-sec .eng {
  font-size: 10px;
  padding-top: 17%;
}

.menu-sec .jpn {
  font-size: 24px;
  margin-top: 10%;
  letter-spacing: 4px
}

.menu-sec .jpn span {
  font-size: 14px;
}

.menu-sec .icon {
  width: 20%;
  margin: 5% auto;
}

.menu-sec .icon img {
  width: 100%;
  height: auto;
}

/* director */

.director {
  margin: 160px 3% 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10%;
}

.director-left {
  padding-top: 80px;
}

.director .text {
  margin-top: 80px;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 14px;
}


.director-right {
  border-right: 10px solid;
  border-color: var(--brand-color01);
  position: relative;
}

.director-right img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.director .link-box {
  bottom: 30px;
  left: -90px;
}

/* blog-sec */

.blog-sec {
  margin-top: 160px;
  background: url(images/laboratory.jpg) center;
  background-size: cover;
  padding: 0 6% 80px;
}

.blog-sec-inner {
  background: #fff;
  padding: 0 26% 80px 0;
  display: flex;
  position: relative;
}

.blog-sec .sec-ttl {
  width: 32%;
  padding: 3% 0 0 10%;
  box-sizing: border-box;
}

.blog-sec ul {
  width: 68%;
}

.blog-lists li {
  margin-top: 16px;
}

.blog-lists li:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.blog-lists span{
  font-size: 12px;
}

.blog-lists a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  margin: 16px 0;
  transition: opacity 300ms;
}

.blog-lists a:hover {
  opacity: .5;
}

.blog-sec-inner .link-box {
  top: 0;
  right: 9%;
}

/* access */

.access {
  margin: 160px 6% 0;
}

.access-inner {
  background: #f7f5f2;
  display: flex;
  position: relative;
}

.access-inner .text::before {
  width: 80px;
  height: 80px;
  background: url(images/80x80.png);
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
}

.access-inner .text {
  width: 30%;
  padding: 10% 0 0 3% 
}

.access-inner .text address {
  margin-top: 40px;
}

.access-inner .sec-ttl .jpn::before,
.access-inner .sec-ttl .jpn::after {
  width: 0;
}

.access-inner .text p {
  margin-top: 20px;
}

.gmap {
  width: 60%;
  padding: 60px 10%;
}

.gmap-inner {
  height: 300px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}

/* infomation */

.infomation {
  margin: 30px 6% 0;
}

.infomation-inner {
  margin: 0 auto;
  background:  #f7f5f2;
  position: relative;
  display: flex;
  padding-bottom: 60px;
}

.infomation-inner .left {
  width: 30%;
  padding: 10% 0 0 3%;
}

.infomation-inner .left::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  background: url(images/80x80.png);
  background-size: cover;
}

.sec-ttl .eng {
  margin-top: 20px;
  letter-spacing: 1px;
}

.sec-ttl .jpn::before {
  width: 0;
}

.sec-ttl .jpn::after {
  width: 0;
}

.infomation .address {
  margin-top: 40px;
  /* font-weight: bold; */
}

.infomation .address a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  display: block;
  margin-top: 10px;
}

.infomation .fax-num {
  margin-top: 10px;
  font-size: 14px;
}

.infomation-inner .right {
  width: 60%;
  padding: 0 3% 0 0;
}

table {
  margin-top: 80px;
  border-collapse: collapse;
  font-size: 14px;
  letter-spacing: 2px;
  width: 100%
}

th {
  background: #ae9373;
  border: 1px solid #ccc;
  color: #fff;
  padding: 8px;
}

.hour-ttl {
  width: ;
}

td {
  background: #fff;
  border: 1px solid #ccc;
}

.opening-time-text {
  margin-top: 16px;
}

.opening-time-text > p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 2px;
}

.opening-time-text-sub {
  margin-top: 20px;
}

.opening-time-text-sub p {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 2px;

}

/* footer */

footer {
  margin-top: 160px;
  color: #ccc;
  font-size: 14px;
}

.page-top {
  color: #ccc;
  text-decoration: none;
  position: relative;
}

.page-top-inner {
  width: 90%;
  background: black;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.page-top-inner .image {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.page-top-inner p {
  margin-top: 10px;
  font-size: 14px;
}

.page-top-inner img {
  width: 100%;
  height: auto;
}

.footer-inner01 {
  display: flex;
  background: #333;
  padding: 120px 10%;
  margin-top: -50px;
  line-height: 1.6;
}

.info01 {
  border-right: 1px solid #ccc;
  padding-right: 5%;
}

.info01 address {
  margin-top: 20px;
}

.info02 {
  display: flex;
  padding: 2% 10%;
}

.info03 {
  width: 140px;
  height: 140px;
  border: 1px solid #ccc;
  line-height: 140px;
  text-align: center;
  transition: background 300ms, color 300ms;
}

.info03:hover {
  background: #ccc;
  color: black;
}

.footer-inner02 {
  background: #393939;
  padding: 40px 10% 10px;
}

.footer-nav {
  width: 100%;
  text-align: center;
}

.footer-nav li {
  display: inline-block;
  margin-right: 25px;
}

.footer-nav li:not(:last-child)::after {
  content: ":";
  padding-left: 25px;
}

.footer-nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 10px;
  transition: color 300ms;
}

.footer-nav a:hover {
  color: #777;
}

.copy {
  text-align: end;
  font-size: 8px;
  display: block;
  margin-top: 60px;
}