@charset "utf-8";

/* top page */

/* main-visual */

.main-visual .main-visual-img {
  padding: 80px 80px 0;
  position: relative;
}

.main-visual .main-visual-img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-bottom: 10px solid var(--brand-color02);
}

.main-visual .main-copy {
  position: absolute;
  bottom: -110px;
  right: 12%;
  background: var(--brand-color02);
  overflow: hidden;
}

.main-visual .main-copy::before {
  content: "";
  position: absolute;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(-25deg);
  animation: shine 6s infinite;
}

.main-copy img {
  opacity: .5;
}

/* header-logo */

h1 {
  box-sizing: border-box;
  width: 260px;
  height: 380px;
  background: white;
  padding: 80px 0 0 110px;
  position: absolute;
  top: 0;
  left: 0;
}

h1 a {
  transition: opacity 500ms;
}

h1 a:hover {
  opacity: .7;
}

.header-logo-image {
  width: 80px;
  height: 80px;
}

/* header-tel */

.header-tel {
  position: absolute;
  top: 0;
  right: 80px;
}

/* header-sub-nav */

.header-address {
  writing-mode: vertical-lr;
  width: 80px;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 3px;
  padding-top: 50px;
}

/* scroll-icon */

.scroll-icon-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  display: flex;
  justify-content: center;
}

.scroll-icon {
  writing-mode: vertical-lr;
  font-size: 12px;
  position: relative;
}

.scroll-icon::before {
  content: "";
  width: 9px;
  height: 1px;
  background: black;
  position: absolute;
  left: 2px;
  bottom: -10px;
  animation: plusMove 2500ms infinite;
}

.scroll-icon::after {
  content: "";
  background: black;
  width: 1px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: -64px;
}

/* news-sec----------------------------- */

.news-sec {
  height: 300px;
  background: #f7f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.news-sec-inner {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
  /* display: flex; */
  position: relative;
}

.news-sec-inner>.sec-ttl {
  height: 100%;
  padding-top: 80px;
}

.sec-ttl .jpn {
  position: relative;
}

.news-sec .sec-ttl .jpn::before {
  content: "";
  width: 9px;
  height: 1px;
  background: black;
  position: absolute;
  left: 4px;
  bottom: -32px;
}

.news-sec .sec-ttl .jpn::after {
  content: "";
  width: 1px;
  height: 9px;
  background: black;
  position: absolute;
  left: 8px;
  bottom: -36px;
}

.news-list {
  display: flex;
  flex-direction: column;
}

.news-list li {
  display: flex;
  border-bottom: 1px solid white;
  gap: 20px;
  padding: 20px 0;
}

.news-list li a {
  text-decoration: none;
  color: inherit;
  transition: opacity 300ms;
}

.news-list li a:hover {
  opacity: .5;
}

/* link-box */

.link-box {
  bottom: -60px;
  right: 5%;
}

/* banner */

.banner {
  margin: 80px 0;
}

.banner .image {
  width: 750px;
  height: 120px;
  margin: 0 auto;
}

/* manu-sec-------------------------------- */

.menu-sec {
  margin: 80px 6% 0;
  display: flex;
  gap: 1.7%;
}

.menu-sec-btn {
  width: 32.2%;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  background: var(--brand-color02);
}

.menu-sec-btn::after {
  content: "";
  background: black;
  width: 24px;
  height: 2px;
  position: absolute;
  bottom: 5%;
  right: 20%;
  transition: right 300ms;
}

.menu-sec-btn:hover::after {
  right: 10%;
}

.menu-sec-btn:hover .menu-sec-btn-image {
  opacity: .3;
}

.menu-sec-btn-image {
  opacity: .5;
  transition: opacity 300ms;
}

.menu-sec-btn-text {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: black 1px 1px;
  letter-spacing: 2px;
  text-align: center;
}

.menu-sec .eng {
  font-size: 10px;
  padding-top: 17%;
}

.menu-sec .jpn {
  font-size: 24px;
  margin-top: 10%;
  letter-spacing: 4px
}

.menu-sec .jpn span {
  font-size: 14px;
}

.menu-sec .icon {
  width: 20%;
  margin: 5% auto;
}

/* director-------------------------------- */

.director {
  margin: 160px auto 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10%;
  width: 60%;

}

.director-left {
  padding-top: 80px;
}

.director .text {
  margin-top: 80px;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 14px;
}


.director-right .image {
  border-right: 10px solid;
  border-color: var(--brand-color01);
  position: relative;
}

.director .link-box {
  bottom: 10%;
  left: -90px;
}

/* blog-sec----------------------------- */

.blog-sec {
  margin-top: 160px;
  background: url(images/laboratory.jpg) center;
  background-size: cover;
  padding: 0 6% 80px;
}

.blog-sec-inner {
  background: #fff;
  padding: 0 26% 80px 0;
  display: flex;
  position: relative;
}

.blog-sec .sec-ttl {
  width: 32%;
  padding: 3% 0 0 10%;
  box-sizing: border-box;
}

.blog-sec ul {
  width: 68%;
}

.blog-lists li {
  margin-top: 16px;
}

.blog-lists li:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.blog-lists span {
  font-size: 12px;
}

.blog-lists a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  margin: 16px 0;
  transition: opacity 300ms;
}

.blog-lists a:hover {
  opacity: .5;
}

.blog-sec-inner .link-box {
  top: 0;
  right: 9%;
}

/* access------------------------------- */

.access {
  margin: 160px 6% 0;
}

.access-inner {
  background: #f7f5f2;
}

.access .content {
  width:60%;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.access-inner .text::before {
  width: 80px;
  height: 80px;
  background: url(images/80x80.png);
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
}

.access-inner .text {
  width: 30%;
  padding: 13% 0 0 3%
}

.access-inner .text address {
  margin-top: 40px;
  letter-spacing: 1px;
}

.access-inner .text p {
  margin-top: 20px;
}

.gmap {
  width: 60%;
  padding: 60px 10%;
}

.gmap-inner {
  height: 300px;
}

